@media screen and (max-width: 991px) {
    .container {
        width: 100%;
    }
    header .navbar{
        margin-left: -15px;
        margin-right: -15px;
    }
    .menu .navbar-nav li{
        margin-left: 0;
        margin-bottom: 10px;
    }
}