$autoMargin: 0px auto;
$wt_normal: 400;
$wt_bold: 700;
$primary_color: #18191f;
$secondary_color: #80bf43;
$light_background: #92db4b;
$background_color: #0b0d17;
$white_color: #ffffff;
$black_color: #000000;
$gray_color: #f8f8f8;
$gray_color__two: #f4f4f4;
$text_color__one: #18191f;
$text_color__two: #969bab;
$text_color__three: #f2994a;
$text_color__four: #27ae60;
$text_color__five: #eb5757;
$border_color__one: #d7d7d7;
$font_size_one: 0.875rem;
$j_align: justify;
$border_radius__one: 8px;
$font_lato: 'Lato',
sans-serif;
$font_manrope: 'Manrope',
sans-serif;